extends layout
block right_side
    #right-side.no-animation
        #control-panel
            h1.gab Control Panel
            #cp-nav.slide-left
              a.hover-link.gab(href='/control-panel/articles') Articles
              a.hover-link.gab(href='/control-panel/categories') Categories
              a.hover-link.gab(href='/control-panel/pictures') Pictures
