doctype 5

html(dir="ltr")
    head
        meta(charset="utf-8")
        meta(description="Relfor's Reveal")
        meta(name="viewport",content="width=device-width")
        meta(name="keywords", content="relfor")
        block meta_description
        title Relfor
        link(rel="stylesheet", type="text/css", href="/static/css/bundle.css")

    body
        div#content
            #left-side
                h1#head-logo
                    a(href='/') Relfor
                #left-nav
                    a.hover-link(href='/about') About
                    a.hover-link(href='/projects') Projects
                    form#search-form(method='get', action='/search')
                        input#query.hover-link(value='Search', type='text', name='query', maxlength='100', autocomplete='off')
                    ul#search-suggestions
            block right_side

        script(defer, src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(defer, src="/static/js/lib.js")
        script(defer, src="/static/js/src.js")



