extends layout
block right_side
    #right-side.no-animation
        #control-panel
            h1.gab
                a(href='/control-panel') Control Panel
                |  > Pictures
            .gab.manage-nav
                button#bu-form-upload-picture.hover-link Upload
            .pictures-grid
                - each picture in pictures
                    div(style='background-image: url("#{picture}");')

